/* <!-- inter font --> */
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* miama font */
    @import url('https://fonts.cdnfonts.com/css/miama');


.inter{
    font-family: "Inter", sans-serif;
}


.miama{
    font-family: 'Miama', sans-serif;
                                                
}


*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


/* shared style */
.container{
    max-width:950px;
    margin:0px auto;
}

.back-color{
    background: #000;
}
.home-btn{
    background-color: #E6533C;
    padding:5px 15px;
    font-size:.65rem;
    color:white;
    border-radius: 15px;
    border:none
   }


.primary-btn{
    font-size:14px;
    color:white;
    padding:10px 20px;
    border-radius:40px;
    background-color: #E6533C;
    border:none;
}



.ban-btn{
    background-color: transparent;
    border:2px solid rgba(255, 255, 255, 0.186)
}


/* nav related style */
header{
    background-image:linear-gradient(10deg,#111,#111111de) ;
}

.hambarge{
    display: none;
}


.nav-container{
    /* border:2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px
}


.nav-title{
    color: #E6533C;
    font-size: 2rem;
    font-weight: 700;
    
}


.nav-title-con{
    max-width:50%;
}


.nav-menu{
    border:2px solid rgba(255, 255, 255, 0.087);
    border-radius:25px;
    max-width:50%;
}


.nav-menu a{
    color:white;
    margin:10px 0px;
    text-decoration: none;
    font-size:.65rem;
    padding:3px 15px 3px 2px;
}


.nav-menu span{
    padding-left:1px;
}


/*  <!-- banner style --> */
.banner-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:50px
}

.banner-text-cont{
    color:white;
    width: 48%;
   
}


.banner-title{
    font-size:4rem;
}

.banner-des{
    margin:20px auto;
    color: rgba(255, 255, 255, 0.42);
}


.banner-img{
    width: 48%;
    position: relative;
    
}


.banner-img img{
    width: 100%;
}


.btn-con{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap:20px;
    align-items: center;

}
.video-tuto,.walkout-video{
    display: flex;
    justify-content:space-between;
    align-items: center;
   width:45%;
    height:15%;
    border:2px solid rgba(255, 255, 255, 0.087);
    padding:20px;
    border-radius:8px;
    position: absolute;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    bottom:40px;
    left:-40px
}

.video-title{
    
   color:white;
    font-size:2rem;
   
}


.circle{
    
    width:50px;
    height:50px;
    border-radius:100%;
    background-color:#E6533C;
    
    margin-right:10px;
}


.play{
    display:none;
}

.video-text{
    width:50%;
   
}
.video-des{
    color: rgba(255, 255, 255, 0.42);
    font-size: 12px;
    font-weight: 400;
}

.walkout-title{
    color:white;
    font-size:2.8rem;
}

.walkout-des{
    color: rgba(255, 255, 255, 0.42);
    font-size: 12px;
    font-weight: 400;
}
.walkout-video{
   width:40%;
   padding:20px;
    text-align: center;
    flex-direction: column;
    top:20%;
    left:70%
}


/* choose-your-plan-section */
.choose-habit {
    color:white;
    padding-top:50px
}

.habit-title,.our-team-title{
    text-align: center;
    font-size:30px;
    color: white;
}

.habit-des,.our-team-des{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin:20px auto;
    color: rgba(255, 255, 255, 0.42);

}


/* card  related style*/
.choose-habit {
    margin-bottom:70px;
}


.habit-card-con{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap:20px
    
}
.card{
    max-width: 217px;
    text-align: center;
    
}


.card-img{
    width:200px;
    height:200px;
    border-radius:100%;
    border:3px solid rgba(128, 128, 128, 0.298);
    overflow: hidden;
    margin:0px auto
    
}

.card-img img{
    width: 100%;
    height: 100%;
}

.card-title{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-top: 20px;
}

.card-des{
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    margin:10px auto 0;
    color: rgba(255, 255, 255, 0.42);
}

/* run-section */

.run-container{
    background-color:rgba(91, 87, 87, 0.512);
    color:white;
    padding:20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    margin-bottom:70px;
}


.run-text-cont{
    width:49%;
    margin-left: 20px;
    
}
.run-title{
    font-size: 35px;
    font-weight: 700;
    text-align: left;
    margin-bottom:10px;
}

.run-des{
    font-size: 11px;
    font-weight: 500;
    text-align: left;
    margin-bottom:20px ;
    max-width:350px;
    color: rgba(255, 255, 255, 0.42);

}
.run-image{
    width:49%;
}

.run-image img{
    width:100%;
    border-radius: 5px;
}

/* <!-- meet-our-team-section --> */
.our-team-con{
    margin-bottom: 70px;
}
.our-team-photo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    padding:20px;
    background-color:rgba(91, 87, 87, 0.512);
    border-radius: 8px;
    opacity: .65;
   
}

.team-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
   
}

.team-photo{
    position: relative;
}


.tean-info{
    position: absolute;
    left:10%;
    top:80% ;
    bottom:20%;
    color:white;
}

.team-photo-title{
    font-size: 16px;
    font-weight:900;
    color:white
}

.team-photo p{
    font-size: 10px;
    font-weight: 500;
    color:rgba(255, 255, 255, 0.716) ;
}